     <!-- footer -->
     <footer class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white font-weight-light text-capitalize p-3">
                        <span class="text-info">Ab</span>
                        <span class="text-warning">do</span></h1>
                    <h3 class="text-light font-weight-light font-italic mb-3">Abdelrahaman Mahmoud</h3>
                     <div class="py-2">
                       <ul class="list-inline text-white">
                           <li class="list-inline-item mx-3">
                               <i class="fa fa-phone text-warning"></i> 0123456789
                            </li>
                           <li class="list-inline-item mx-3">
                               <i class="fa fa-envelope text-warning"></i> Abdelrahamn.m.fcih@gmail.com
                            </li>
                           <li class="list-inline-item mx-3">
                               <i class="fa fa-map-marker text-warning"></i> Place
                            </li>
                       </ul>
                     </div>
                    <hr>
                    <div class="py-2">
                        <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                        <a href="#"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
                    </div>
                    <p class="text-light py-4 m-0">&copy;Copyright 2019 - Made by Abdo</p>
                </div>
            </div>
        </div>
     </footer>
     <!-- end of footer -->