<!--Every section is in a component so you can easily Edite Update or even remove any component -->
<!-- header -->
<header>
        <!-- navbar -->
        <app-navbar></app-navbar>
        <!-- banner -->
        <app-g-info></app-g-info>
</header>
<!-- Services -->
<app-services></app-services>
<!-- Your skills -->
<app-skills></app-skills>
<!-- Projects -->
<app-projects></app-projects>
<!-- Testimonials -->
<app-testimonials></app-testimonials>
<!-- Contact Me -->
<app-contact></app-contact>
<!-- Footer -->
<app-footer></app-footer>
