<div class="testimonial bg-light " id="customers">
  <div class="container-fluid">
      <!-- title -->
      <div class="row">
        <div class="col text-center mb-3">
            <h1 class="text-warning display-2">Testimonials</h1>
            <p class="lead text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, a. Omnis, numquam!</p>
        </div>
    </div>
      <div class="row mt-5">
          <div class="col-lg-4 mb-5  col-md-6  col-xs-12 p-2">
              <div class="card text-center m-auto pt-4" style="width: 21rem;">
                  <div class="card-body">
                      <img src="../../../assets/img/avatar01.png" alt="...">
                    <h5 class="card-title pt-1">Abdelrahman Mahmoud</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 mb-5  col-md-6  col-xs-12 p-2">
              <div class="card text-center m-auto pt-4" style="width: 21rem;">
                  <div class="card-body">
                      <img src="../../../assets/img/avatar01.png" alt="...">
                    <h5 class="card-title pt-1">Abdelrahman Mahmoud</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 mb-5  col-md-6  col-xs-12 p-2">
              <div class="card text-center m-auto pt-4" style="width: 21rem;">
                  <div class="card-body">
                      <img src="../../../assets/img/avatar01.png" alt="...">
                    <h5 class="card-title pt-1">Abdelrahman Mahmoud</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>